// Here you can add other styles

.ng-select {
  .ng-value {
    padding: 5px;
    font-size: 14px !important;
  }

  &.ng-invalid.ng-touched {
    .ng-select-container {
      border-color: $danger;
    }

    & ~ .invalid-feedback {
      display: block;
    }
  }
}

.is-invalid ~ .invalid-feedback {
  display: block;
}
.error-feedback {
  width: 100%;
  margin-top: 0.25rem;
  font-size: 80%;
  color: #f86c6b;
}
